##### 2. Write Python programs to print strings in the given manner:  
##### a)   Hello Everyone !!!  
##### b)   Hello  
##### World  
##### c)   Hello  
##### World

In [1]:
print("Hello Everyone !!!")
print("Hello\nWorld")
print("Hello")
print("World")
print("' Rohit' s date of birth is 12\\05\\1999'")

Hello Everyone !!!
Hello
World
Hello
World
' Rohit' s date of birth is 12\05\1999'

##### Declare a string variable called x and assign it the value “Hello”.  
##### Print out the value of x

In [2]:
x = "Hello"
print(x)

Hello

##### 4. Take different data types and print values using print function.

In [3]:
# String
name = "Alice"

# Integer
age = 30

# Float
height = 5.7

# Boolean
is_student = True

# List
fruits = ["apple", "banana", "cherry"]

# Dictionary
person = {"name": "Bob", "age": 25}

# Print all variables
print(name)
print(age)
print(height)
print(is_student)
print(fruits)
print(person)

Alice
30
5.7
True
['apple', 'banana', 'cherry']
{'name': 'Bob', 'age': 25}

##### 5. Take two variables, a and b. Assign your first name and last name. Print your 
##### Name after adding your First name and Last name together.

In [4]:
# Assign first name and last name to variables
a = "John"
b = "Doe"

# Combine first name and last name
full_name = a + " " + b

# Print the full name
print(full_name)

John Doe

##### 6. Declare three variables, consisting of your first name, your last name and 
##### Nickname. Write a program that prints out your first name, then your nickname 
##### in parenthesis and then your last name.    
##### Example output: George (woody) Washington.

##### 7. Declare and assign values to suitable variables and print in the following way: 
##### NAME: NIKUNJ BANSAL    
##### SAP ID: 500069944  
##### DATE OF BIRTH: 13 Oct 1999  
##### ADDRESS: UPES  
##### Bidholi Campus  
##### Pincode: 248007  
##### Programme: AI & ML                                                                                        
##### Semester: 2

In [6]:
# Declare variables
name = "NIKUNJ BANSAL"
sap_id = 500069944
dob = "13 Oct 1999"
address = "UPES\nBidholi Campus"
pincode = 248007
programme = "AI & ML"
semester = 2

# Print the details
print("NAME:", name)
print("SAP ID:", sap_id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", address)
print("Pincode:", pincode)
print("Programme:", programme)
print("Semester:", semester)

NAME: NIKUNJ BANSAL
SAP ID: 500069944
DATE OF BIRTH: 13 Oct 1999
ADDRESS: UPES
Bidholi Campus
Pincode: 248007
Programme: AI & ML
Semester: 2